{% extends 'base.html' %}

{% block title %} 
  Course Page
{% endblock %}

{% block lgNav %}
{% if see  %}
<a href="{{url_for('profile')}}" class="py-5 px-3 ">Profile</a>
<a href="{{url_for('logout')}}"class="py-2 px-3 bg-purple-700 text-white hover:bg-purple-300 hover:text-purple-800 rounded transition duration-300 ">Log out</a>
{% else %}
<a href="{{url_for('login')}}" class="py-5 px-3">Log In</a>
<a href="{{url_for('register')}}"class="py-2 px-3 bg-purple-700 text-white hover:bg-purple-300 hover:text-purple-800 rounded transition duration-300 ">Register</a>
{% endif %}
{%endblock%}

{% block mdNav%}
{% if see  %}
<a href="{{url_for('profile')}}" class="block py-2 px-4  hover:bg-gray-200">Profile</a>
<a href="{{url_for('logout')}}" class="block py-2 px-4  hover:bg-gray-200">Log out</a>
{% else %}
<a href="{{url_for('login')}}" class="block py-2 px-4  hover:bg-gray-200">Log in</a>
<a href="{{url_for('register')}}" class="block py-2 px-4 hover:bg-gray-200">Register</a>
{% endif %}
{%endblock%}



{% block searchJob%}

        <!-- alert box hidden... only visible when trigger clicked search button -->
        <div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center ">
            <div class="flex justify-center items-center h-screen">
                <div class="relative py-4 w-full max-w-xl  ">
                    <!-- Modal content -->
                    <div class="relative bg-white md:py-3 md:px-8 bg-red-200 rounded-lg shadow dark:bg-gray-700 ">
                        <!-- Modal header -->
                        <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Please Log In To Search Jobs
                            </h3>
                            <button id="closebtn" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        
                        <!-- Modal footer -->
                        <div class="flex items-center p-6 space-x-2 rounded-b justify-center md:justify-around border-t border-gray-200 dark:border-gray-600">
                            <button data-modal-toggle="defaultModal" type="button" class="text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 relative"> <a class="block z-1 after:absolute after:top-0 after:right-0 after:left-0 after:bottom-0 after:content-[' ']" href="{{url_for('register')}}">Register</a></button>
                            <button data-modal-toggle="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-purple-400 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600 relative"> <a class="block z-1 after:absolute after:top-0 after:right-0 after:left-0 after:bottom-0 after:content-[' ']" href="{{url_for('login')}}">Log In</a></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- text Typing  -->
        <div class="py-5 flex justify-center text-3xl px-4">
            <p>Inspiring <span class="text-purple-800 element"></span> Jobs for the future !</p>
        </div>
        <!-- form to search job -->
        {% if see %}
        <div class="py-5 px-4  ">
            <form action="/search" class="md:flex md:justify-center" id="form-1" method="POST">
                <div class="">
                    <input class="p-2 my-2 w-full border-[1px]" type="text" placeholder="Role: Full stack" name="role">
                </div>
                <div>
                    <input class="p-2 my-2 w-full border-[1px]" type="text" placeholder="City: Chennai" name="city">
                </div>
                <div>
                    <input class="p-2 my-2 w-full border-[1px]" type="text" placeholder="Country: India" name="country">
                </div>
        
                <div class="md:flex ">
                        {% if session['user']['jobFetchCount'] == 3 %}
                        <button class="p-2 my-2 w-full border-[2px]  bg-purple-600 rounded text-white hover:bg-white hover:text-purple-800 hover:border-purple-400  " id="searchBtn"> 
                            Go
                        </button>
                        {% else %}
                        <button id="goButton" class="p-2 my-2 w-full border-[2px]  bg-purple-600 rounded text-white hover:bg-white hover:text-purple-800 hover:border-purple-400  " > 
                            Go
                        </button>
                        {%endif%}
                    
        
                    <div
                        class="relative p-2 my-2 w-full border-[2px]  bg-green-400 rounded text-white hover:bg-white hover:text-green-800 hover:border-green-400 text-center ">
                        <a class="block z-1 after:absolute after:top-0 after:right-0 after:left-0 after:bottom-0 after:content-[' ']"
                            href="{{url_for('history',history=0)}}">History</a>
                    </div>
                </div>
        
            <!-- this is prompt when user clicks search job button  -->
            <!-- It's hidden only visible when user click 'GO' or Job Serach button -->
            <div>
                <div id="popup-modal" tabindex="-1"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center"
                    aria-hidden="true">
                    <div class="flex justify-center items-center h-screen">
                        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button type="button" id="promptClose"
                                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                    data-modal-toggle="popup-modal">
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                <div class="p-6 text-center">
                                    <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200"
                                        fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>
                                    <div class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                        <h3>In Free tier you are allowed only 3 Search </h3>
                                        <h3>Are you sure use one</h3>
                                    </div>
                                    <button value="submit"  type="button" id="confirmSearch" form="form-1"  type="submit" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                submit </button>
                                    <button data-modal-toggle="popup-modal" type="button" id="cancelBtn"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No,
                                        cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end  -->

            </form>

            <!-- this is alert when user use more than 3 searches -->
            <!-- It's hidden only visible when user click 'GO' or Job Serach button -->
            <div class="md:flex md:justify-center">
                <div id="alertBorder" class="hidden flex p-4 mb-4 bg-yellow-100 border-t-4 border-yellow-500 dark:bg-yellow-200" role="alert">
                    <svg class="flex-shrink-0 w-5 h-5 text-yellow-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <div class="ml-3 text-sm font-medium text-yellow-700">
                        You Used 3 searches If you need more Please Mail to this ID  <a href="#" class="font-semibold underline hover:text-yellow-800">prakasha.ece19@gmail.com"</a>.
                    </div>
                    <button type="button" id="alertBorderClose" class="ml-auto -mx-1.5 -my-1.5 bg-yellow-100 dark:bg-yellow-200 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-300 inline-flex h-8 w-8" data-dismiss-target="#alert-border-4" aria-label="Close">
                    <span class="sr-only">Dismiss</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            </div>
            <!-- end -->

        </div>
        {%endif%}
        <!-- form to search job end -->
{%endblock%}




{% block body %}
<h2 class="text-center p-10 m-14 bg-blue-500 text-white text-5xl">Courses Coming soon</h2>


{% block js %}
<script src="{{url_for('static', filename='index.js')}}"></script>
<script src="{{url_for('static', filename='job.js')}}"></script>
<script src="{{url_for('static', filename='searchConfirm.js')}}"></script>
{%endblock%}
{%endblock%}
